{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Oups ! Page introuvable</h1>
                <p>La page que vous recherchez est introuvable.</p>
                <a href="{{ path('app_home') }}" class="btn btn-primary">Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}