<footer class="bg-light py-3 mt-5">
    <div class="container">
        <p class="text-center mb-0">&copy; {{ "now"|date("Y") }} ArchiStore. Tous droits réservés.</p>
    </div>
</footer>

<style>
    footer {
        width: 100%;
    }
</style>