<form method="post" action="{{ path('app_file_delete', {'id': file.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce fichier ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.id) }}">
    <button class="{{ button_class|default('btn btn-danger') }}">Supprimer</button>
</form>