{% extends 'base.html.twig' %}

{% block title %}Nouveau fichier{% endblock %}

{% block body %}
    <h1>Créer un nouveau fichier</h1>

    {{ include('file/_form.html.twig') }}

    <a href="{{ path('app_file_index') }}">Retour à la liste</a>
{% endblock %}
