{% extends 'base.html.twig' %}

{% block title %}Payment Success{% endblock %}

{% block body %}
    <h1>Payment Successful</h1>
    <p>{{ message }}</p>
    <a href="{{ path('app_home') }}">Return to Home</a>
{% endblock %}
